body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

button {
  height: 90px;
  width: 290px;
  font-size: 28px;
  color: white;
  background-color: blue;
  border: none;
  position: relative;

}

button::before {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  background-color: black;
  left: 0;
  top: 0;
  transition-duration: 1s;
  transition-property: width;
}

button:hover::before {
  width: 100%;
}
